<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDie ARTIST AboutUs</title>
    {{> head}}
    {{> particle}}
</head>
<body style="font-family: 'Oswald', sans-serif;">
    {{#if logged}}
        {{> profileHead}}
    {{else}}
        {{> header}}
    {{/if}}

    <div style="position: relative; top: 135px;" class="container">
        <div style="font-weight: bolder;font-size: larger">About Us</div>
        <div style="font-size: 14px;"></div>
        <hr>
        <div>
          <p>We are a team of 3 people working on this project. We made this project for hack data 2017
            which was organised at Shiv nadar University on 7-8 October.</p>
        </div>
        <span style="font-weight: bolder">Developed by:</span>
        <div style="font-size: 14px;"></div>
        <hr>
        <ul style="list-style: none">

            <li style="font-size: 14px;">MOHIT CHATTLANI <a href="https://github.com/MohitChattlani">(Git Hub)</a></li>
            <li style="font-size: 14px;">HARSHIT BISHT <a href="https://github.com/harshitbisht96">(Git Hub)</a></li>
            <li style="font-size: 14px;">DIVYANK KAROLIA <a href="https://github.com/divyankkarolia97">(Git Hub)</a></li>

            <li style="font-size: 14px;">find the repo of indie_artist on <a href="https://github.com/divyankkarolia97/indie_artist_template">github</a>.</li>
            <img class="icons" src="images/mail.png"/>
            <li style="font-size: 14px;">feel free to drop a mail at <a href="mailto:indieartistapp@gmail.com" target="_top" ><code>indieartistapp@gmail.com</code></li></a>

        </ul>
    </div>

</body>
</html>
