<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>indieArtist AboutUs</title>
    {{> head}}
    {{> particle}}
    <script src="/JS/venue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.js"></script>
</head>
<body style="font-family: 'Oswald', sans-serif;">
<canvas class="background"></canvas>

{{#if logged}}
    {{> profileHead}}
{{else}}
    {{>header}}
{{/if}}
<br><br><br>

<div class="container " style="position: relative;top: 130px;">
    <div class="row">
        <div class="col-6">
    <h3 align="center">Add an event here</h3><br>
    <form id="eventForm" action="/artist/addevent" method="post" enctype="multipart/form-data">


        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Event Name &nbsp;&nbsp;&nbsp;</button>
      </span>
            <input type="text" tabindex="2" id="eventname" class="form-control" name="eventname">
        </div>

        <br>

        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary"  type="button">Description</button>
      </span>

            <input type="text" tabindex="2" id="eventdescription" class="form-control" name="eventdescription">
        </div>

        <br>
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Event Category</button>
      </span>&nbsp;&nbsp;&nbsp;
            <input type="radio" name="category" value="music"  id="music" > Music &nbsp;
            <input type="radio" name="category" value="standup" id="standup" > Stand-up &nbsp;
            <input type="radio" name="category" value="dance" id="dance" > Dance &nbsp;
            <input type="radio" name="category" value="drama" id="drama" > Drama
        </div>

        <br>
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Date </button>
      </span>
            <input type="date" tabindex="2" id="eventname" class="form-control" name="eventdate">
        </div>

        <br>
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Time &nbsp;&nbsp;&nbsp;</button>
      </span>
            <input type="time" tabindex="2" id="eventname" class="form-control" name="eventtime">
        </div>
        <br>
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Venue &nbsp;&nbsp;&nbsp;</button>
      </span>
            <input type="text" tabindex="2" id="eventname" class="form-control" name="eventvenue">
        </div>

        <br>
        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Price <i class="fa fa-inr" aria-hidden="true"></i></button>
      </span>
            <input type="number" tabindex="2" id="eventname" class="form-control" name="eventprice">
        </div>

        <br>


        <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Event Poster</button>
      </span>
            <input type="file" tabindex="2" id="avatar" class="form-control" name="avatar">
        </div>

        <br>


        <input class="btn btn-block btn-info" tabindex="7" type="submit" value="Add Event">
        <br>





    </form>
        </div>
        <div class="col-6"  >

            <br><br><br>
        <!--<div id="categoryData">-->
            <b>STATS WILL BE DISPLAYED HERE</b>
        <!--</div>-->
            <canvas id="myChart" width="400" height="400"></canvas>
    </div>
    </div>
</div>

<script>
    window.onload=function() {
        $('#music').click(showVenue);
        $('#standup').click(showVenue);
        $('#drama').click(showVenue);
        $('#dance').click(showVenue);

        function showVenue(event) {
            console.log(event.target.getAttribute('id'));
            $.post('/artist/locationData', {category: event.target.getAttribute('id')}).done(function (data) {
                console.log(data.location);
                var label = [];
                var totalPeople = 0;
                var dataSet =[]
                for (var index in data.location) {
                    console.log(index);
                    totalPeople += data.location[index];
                    label.push(index);
                    dataSet.push(data.location[index]);
                }
                console.log('im here')
                console.log(totalPeople);
                //      code to represent the data;

                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: label,
                        datasets: [{
                            label: '# of Votes',
                            data: dataSet,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            })
        }
    }

</script>


</body>
</html>
