<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">
    {{> profileHead}}
</body>
</html>