<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bolnabhai AboutUs</title>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">
{{#if logged}}
    {{> profileHead}}
{{else}}
    {{> header}}
{{/if}}
<br><br><br>
This is the artist profile page.
<br>
{{data.username}}
{{data.name}}
</body>
</html>