<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Buy Ticket</title>
    {{> head}}
</head>
<body style="font-family: 'Oswald', sans-serif;">
{{#if logged}}
    {{> profileHead}}
{{else}}
    {{>header}}
{{/if}}
<br><br><br>
<h2 align="center">Buy ticket</h2>
<div class="jumbotron" >

    <p align="center">This portal will be added soon!!</p>
</div>
</body>
</html>